# R0 package NAMESPACE

# DEBUG ONLY: Export all names
#exportPattern(".")

# Selective export
export(check.incid, 
       integrity.checks, inspect.data, 
       est.GT, estimate.R, est.R0.AR, est.R0.EG, est.R0.ML, est.R0.SB, est.R0.TD, 
       smooth.Rt, 
       generation.time, 
       impute.incid, 
       plotfit, 
       sensitivity.analysis, sa.time, sa.GT, 
       sim.epid)

# Import fitdistr from package MASS
importFrom(MASS, fitdistr)

importFrom(graphics, abline, arrows, axis, close.screen,
           contour, curve, filled.contour, hist, legend,
           lines, points, polygon, screen, split.screen,
           text, title)
importFrom(grDevices, dev.new, heat.colors)
importFrom(stats, coefficients, density, dgamma, dlnorm,
           dpois, dweibull, glm, lm, na.omit, optim,
           optimize, pgamma, plnorm, poisson, predict,
           pweibull, qchisq, quantile, rgamma, rmultinom,
           rnbinom, rpois, runif, uniroot)

# Registering S3 Methods
#plot
S3method(plot, R0.R)
S3method(plot, R0.sR)
S3method(plot, R0.S)
S3method(plot, R0.GT)
#plotfit
S3method(plotfit, R0.R)
S3method(plotfit, R0.sR)
#print
S3method(print, R0.R)
S3method(print, R0.sR)
S3method(print, R0.GT)
